* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.menu-toggle {
  display: none;
}

header {
  background-color: aliceblue;
  border-radius: 0px 0px 20px 20px;

  .nav-menu {
    padding: 20px 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 257.125px;
      height: 62.375px;
    }

    .navegation {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: #20232d;
        font-size: 1.1em;
        font-weight: bolder;
      }
    }

    .salesman-contact {
      padding: 15px;
      text-decoration: none;
      font-size: 0.9em;
      font-weight: bolder;
      background-color: #dc9f38;
      color: #20232d;
      border-radius: 25px;
    }
  }
}

main {
  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #dc9f38;
  }

  .main-content {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    .product {
      width: 45%;
      margin: auto;
      display: flex;
      flex-direction: column;
      background-color: aliceblue;
      border-radius: 20px;
      padding: 20px;
      border: 0.7px solid #20232d54;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      margin-bottom: 30px;
    }

    .product-info {
      h3 {
        text-align: center;
        font-size: 1.7em;
        color: #20232d;
        text-transform: uppercase;
      }
    }

    .product-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 250px;
        height: 328px;
      }

      p {
        font-size: 1.2em;
        color: #20232d;
      }
    }
  }
}

footer {
  background-color: aliceblue;
  border-radius: 20px 20px 0px 0px;

  .footer-content {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;

    article {
      width: 80%;
      margin-bottom: 10px;
      font-size: 1.3em;
    }

    .social-media {
      a {
        text-decoration: none;
      }

      i {
        margin-right: 10px;
        margin-bottom: 30px;
        color: #dc9f38;
      }
    }

    p {
      text-transform: uppercase;
      font-size: 1em;
      margin-bottom: 5px;
    }

    img {
      width: 421px;
      height: 241.6px;
    }
  }
}

.whatsapp {
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #dc9f38;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 15px;

  i {
    color: white;
  }
}

/* ------------- */
/* REPONSIVIDADE */
/* ------------- */
@media (max-width: 1680px) {
  main {
    .main-content {
      width: 85%;

      .product {
        width: 65%;
      }
    }
  }

  footer {
    .footer-content {
      width: 90%;
    }
  }
}

@media (max-width: 1440px) {
  main {
    .main-content {
      width: 80%;

      .product {
        width: 65%;
      }
    }
  }

  footer {
    .footer-content {
      width: 90%;
    }
  }
}

@media (max-width: 1440px) {
  header {
    background-color: aliceblue;
    border-radius: 0px 0px 20px 20px;

    .nav-menu {
      padding: 20px 5%;
    }
  }

  main {
    .main-content {
      width: 85%;

      .product {
        width: 75%;
      }
    }
  }

  footer {
    .footer-content {
      width: 90%;

      article {
        width: 80%;
      }

      p {
        margin-right: 20px;
      }

      img {
        width: 360.857143px;
        height: 202.714286px;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0px 20px;
      padding: 10px 20px;
    }

    .header-top {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    .header-logo {
      img {
        width: 205.7px;
        height: 49.9px;
      }
    }

    .menu-toggle {
      display: block;
    }

    .navegation,
    .header-button {
      display: none !important;
      width: 100% !important;
    }

    .navegation a {
      font-size: 15px;
    }

    .nav-menu.menu-open .navegation,
    .nav-menu.menu-open {
      display: flex !important;
      flex-direction: column;
      text-align: center;
    }

    .nav-menu.menu-open .navegation a,
    .nav-menu.menu-open .header-button a {
      font-size: 1em;
      padding: 3px 0;
      margin-bottom: 5px;
    }
  }

  main {
    h1 {
      font-size: 1.7em;
    }

    .main-content {
      width: 95%;

      .product {
        width: 100%;
      }

      .product-info {
        h3 {
          font-size: 1.3em;
        }
      }

      .product-content {
        flex-direction: column;

        img {
          width: 166.666667px;
          height: 219.333333px;
        }

        p {
          font-size: 1em;
        }
      }
    }
  }

  footer {
    .footer-content {
      width: 80%;
      flex-direction: column;
      padding: 30px 20px;

      article {
        width: 100%;
        margin-bottom: 10px;
        font-size: 1em;
      }

      img {
        display: none;
      }
    }
  }
}
